  
  
  <p></p>
  <h1><div class="loggedinuser" id="loggedinuser"></div> </h1>
  <p></p>
  <div class="container" fxLayout="row warap" fxLayoutAlign="center" fxLayoutGap="30px" >
      <div class="item item1">
           <!-- <h1 id="login">Login</h1> -->
          
          
          
          <link href="https://global.oktacdn.com/okta-signin-widget/5.9.1/css/okta-sign-in.min.css" type="text/css" rel="stylesheet"/> 
          <div id="okta-signin-container"></div>
      </div>
      <div id="console" class="console">
          
      </div>
  
      
    </div>
  