<h1 id="login">Login</h1>
         <!---------------------->
        <!-- Responsive Image -->
        <!---------------------->
            <style>
            .responsive {
            width: auto;
            height: auto;
            
                }
            </style> 
        <!---------------------->
        <!-- Responsive Image -->
        <!---------------------->
        <div style="text-align: center;" >
            <h2><a> <img src="https://cdn.brandfolder.io/2VK5Y09C/at/5hf5mqw3gjt7k9jh9ss875b/Logo_Customer-Success_45x250.png?height=27&width=150" class="responsive"></a>    </h2>
        
        <h1></h1>


<form [formGroup]="loginform" (ngSubmit)="onSubmit()" id="loginpage">
	<p *ngIf="loginInvalid" class="text-danger">
		<!-- The username and password were not recognized -->
	</p>

	<!-- <div class="form-group">
		<label for="username">Username</label>
		<input type="email" class="form-control" id="username" autocomplete="username" formControlName="username" required>
		<div class="invalid-feedback">
			Please provide your username.
		</div>
	</div> -->

    <div class="form-group">
            <mat-form-field appearance="legacy" [style.width.px]=300 >
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter email address" cdkFocusInitial input type="email" class="form-control" id="username" autocomplete="username" formControlName="username" required>
            <mat-icon matSuffix>adb</mat-icon>
            </mat-form-field>
    </div>
    <div class="form-group">
            <mat-form-field appearance="legacy" [style.width.px]=300>
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password" input type="password" class="form-control" id="exampleInputPassword1" autocomplete="current-password" formControlName="password" required>
            <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field> 
    </div> 

	<button id="modal-login-button" type="submit" class="btn btn-primary mt-4 mb-3">Login</button>
	
		
</form>
<link href="https://global.oktacdn.com/okta-signin-widget/5.9.1/css/okta-sign-in.min.css" type="text/css" rel="stylesheet"/> 
<div id="okta-widget-container"></div>