

<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="https://www.okta.com/jp/company/">会社情報</a></li>
                    <li><a href="https://status.okta.com/">システムステータス</a></li>
                    <li><a href="https://www.okta.com/jp/privacy-policy/">プライバシー</a></li>
                    <li><a href="https://developer.okta.com/">開発者サイト</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    Copyright © {{test | date: 'yyyy'}}, Okta. All rights reserved.
                </span>
            </div>
        </div>
    </div>
</footer>
